extends layout

block layout-content
  main
   h1 Hello, programmer!
   div.spacerhor
   p Do you always loose your code snippets as I do ? Then you've just found the solution! 
   p This web site will help you storing all your code snippets at one place. Register 
    a(href="/register/") --here--
    | to get started!
