extends layout

block layout-content
  main
   h1 Hello, there!
   div.spacerhor
   p Do you always loose information as I do ? Then you've just found the solution! 
   p This web site will help you storing all your notes at one place. Register 
    a(href="/register/") --here--
    | to get started!
