extends layout


block layout-content
  main
    div.form
      label name
      input(type="text", id="namefield" value=name) 
      label text
      textarea(name="", id="codefield", cols="30", rows="10") #{body}
      label category
      input(name="", id="categoryfield" value=body) 
      p by #{author}
  div#control.centred
    button#savebtn(onclick="save('"+id+"')") save
    button#cancelbtn(onclick="window.location = '/my_notes'") cancel
  script.
    const save = (id) => {
      const name = namefield.value
      const text = codefield.value
      const url = window.location.toString()
      const category = categoryfield.value

      console.log("ID "+id)
      if (id!=='undefined'){
        
        fetch('/edit_note', {
          method: 'POST', 
          headers: {
            'Content-Type': 'application/json'
          }, 
          body : JSON.stringify({id:id, name: name, text: text, category: category})
        })
        .then(response => response.json())
        .then(data => {
          if (data) {
            if (data.st === "OK") {
              window.alert("NOTE UPDATED!")
              window.reload = "/my_notes"
            } else {
              window.alert("ERROR! NOTE NOT UPDATED")
            }
          }
        })
      } else {
        fetch('/add_note', {
        method: 'POST', 
        headers: {
          'Content-Type': 'application/json'
        }, 
        body : JSON.stringify({name: name, text: text, category: category})
        })
        .then(response => response.json())
        .then(data => {
          if (data) {
            if (data.st === "OK") {
              window.alert("NOTE SAVED!")
              window.location = "/my_notes"
            } else {
              window.alert("ERROR! NOTE NOT SAVED")
            }
          }
        })
      }
    }
     