extends layout

block layout-content
  main 
    div.centred
      h1 Shared Notes
    div.centred.padded
      div#list
        ul
        each val in notes.length ? notes : ['There are no shared notes']
            //- li= val.name
            p.singlerow
              label#name #{val.namenotes} 
              //- a(href="/snippets/"+val.name) #{val.name} 
              label#author by #{val.nameusers}
              label#hashtag ##{val.category}
              button#viewbtn(onclick='window.location="/notes/'+val._id+'"') VIEW