* {
  margin: 0;
  padding: 0;
}

body {
  border: 0px;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

#usercontrol {
}

#title {
  padding: 20px;
}

#usr {
  padding: 10px;
}

.navbutton {
  background-color:#008CBA; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  visibility: hidden;
}

#mysnippetsbtn {
  visibility: hidden;
}

#author {
  margin: 10px;
  font-style: italic;
}

pre {
  counter-reset: line;

}

.red {
  color:red;
}

#hashtag {
  margin: 10px;
  color:red;
}

#name {
  margin: 10px;
  font-size: 22pt;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.spacerhor {
  height: 30px;
}

.row {
  margin-top: 20px;
}

.centred {
  display: flex;
  justify-content: center;
}

.loginbtn{
  padding: 4px 4px;
  margin: 2px 2px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color:orange;
  opacity: 0.8;
}

.loginbtn:hover {
  opacity: 1;
}



#footer {
  color: white;
  display: flex;
  justify-content: flex-end;
  background-color: black;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.spacer {
  width: 20px;
}

#addbtn {
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  margin: 4px 2px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color:green;
  opacity: 0.8;
}

#addbtn:hover {
  opacity: 1;
}

#codefield {
  width: 80%;
}
#savebtn {
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  margin: 4px 2px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color:green;
  opacity: 0.8;
}

#savebtn {
  opacity: 1;
}

#cancelbtn {
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  margin: 4px 2px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color:darkgoldenrod;
  opacity: 0.8;
}

#cancelbtn:hover{
  opacity: 1;
}

#deletebtn {
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  margin: 4px 2px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color:red;
  opacity: 0.7;
}

#deletebt{
  opacity: 1;
}

#viewbtn {
  padding: 4px 4px;
  margin: 2px 2px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color:lightyellow;
  opacity: 0.8;
}

#viewbtn:hover{
  opacity:1;
}

pre {
  margin: 30px;
  padding: 10px;
}

#text {
  font-size: 25pt;
}

sharebtn {
  padding: 4px 4px;
  margin: 2px 2px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color:wheat;  
}

#editbtn {
  padding: 4px 4px;
  margin: 2px 2px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color:lightblue;
  opacity: 0.8;
}

#editbtn:hover {
  opacity: 1;
}

.padded {
  padding: 20px;
}

.singlerow{
  padding: 10px
}

main {
  padding: 40px;
}

#content {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
}

#content {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#titlelink {
  color: wheat;
  text-decoration: none;
}

header {
  background-color: black ;
  color: wheat;
}
